<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./_css/generic.css">
    <link rel="stylesheet" href="./_css/door.css">
  </head>
  <body>
    <div class="out">
      <div class="in">
	<div class="level">Level {{level}}</div>
	<div class="name">{{name}}</div>
	<div class="special-cases">{{special-cases}}</div>
	<div class="image"><img src="./_images/{{image}}"></div>
	<div class="bad-stuff">Bad Stuff: {{bad-stuff}}</div>
	<div class="levels">{{levels}} Levels</div>
	<div class="treasures">{{treasures}} Treasures</div>	 
      </div>
    </div>
  </body>
</html>
